/* Global icon */
.icon {
  display: flex;
  margin-left: -8px;
  background-color: var(--secondary);
  border-radius: 50%;
  padding: 18px;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  color: var(--primary);
}

.icon:hover {
  background-color: white;
}
/* info icon */
.icon_info {
  display: flex;
  border: solid 2px var(--grey);
  border-radius: 50%;
  padding: 12px;
  width: 5px;
  height: 5px;
  align-items: center;
  justify-content: center;
  color: var(--primary);

  margin-right: 10px;
}

/* Star */
.stars{
  margin-top: 5%;
}
.fa-star {
  font-size: 14px;
}

.filled {
  color: var(--primary);
}

.unfilled {
  color: #d2d2d2;
}
