.title {
  color: #363636;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.125;
}

.subtitle {
  color: #4a4a4a;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.25;
}

.title,
.subtitle {
  word-break: break-word;
}

.price {
  font-weight: bold;
}

.title.footer {
  margin: 0 16px 16px 16px;
  font-size: 18px;
}
