@import url("./css/base/reset.css");
@import url("./css/base/typography.css");

@import url("./css/components/button.css");
@import url("./css/components/icon.css");
@import url("./css/components/input.css");

@import url("./css/layout/block.css");
@import url("./css/layout/container.css");
@import url("./css/layout/footer.css");
@import url("./css/layout/forms.css");
@import url("./css/layout/header.css");
@import url("./css/layout/hero.css");
@import url("./css/layout/section.css");

@import url("./css/breakpoints/tablet.css");
@import url("./css/breakpoints/phone.css");

main {
  margin: 16px;
}

:root {
  --primary: #0065fc;
  --secondary: #deebff;
  --grey: #f2f2f2;
  --white: #ffffff;
}
