@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");


@import url("./css/components/form.css");
@import url("./css/components/navbar.css");

@import url("./css/elements/button.css");
@import url("./css/elements/title.css");
@import url("./css/elements/content.css");
@import url("./css/elements/icon.css");
@import url("./css/elements/block.css");

@import url("./css/form/input.css");

@import url("./css/layout/hero.css");
@import url("./css/layout/container.css");
@import url("./css/layout/section.css");


* {
  padding: 0;
  margin: 0;
  max-width: 100%;
  /* overflow: hidden; */
  position: relative;
  
}

html,body {
  font-family: "Raleway", sans-serif;
}

:root {
  --primary-color: #0065fc;
  --second-color: #deebff;
  --grey: #f2f2f2;
}

