@import url("./css/reset.css");

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("./css/components/form.css");
@import url("./css/components/navbar.css");

@import url("./css/elements/button.css");
@import url("./css/elements/title.css");
@import url("./css/elements/content.css");
@import url("./css/elements/icon.css");
@import url("./css/elements/block.css");

@import url("./css/form/input.css");

@import url("./css/layout/hero.css");
@import url("./css/layout/container.css");
@import url("./css/layout/section.css");
@import url("./css/layout/footer.css");

/* Responsive breakpoints imports*/

@import url("./css/breakpoints/tablet.css");
@import url("./css/breakpoints/phone.css");


html {
  font-family: "Raleway", sans-serif;
}

main {
  margin: 16px;
}
:root {
  --primary: #0065fc;
  --secondary: #deebff;
  --grey: #f2f2f2;
}
