.hotels {
  background-color: var(--grey);
  width: 60%;
  border-radius: 20px;
  padding: 10px;
}

.hotels_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0 10px;
}

.mostpopulars {
  background-color: var(--grey);
  width: 30%;
  border-radius: 20px;
  padding: 10px;
}

.mostpopulars_content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 10px;
}

.activities {
  margin: 2em;

  min-width: 1000px;
  min-height: 400px;

  display: flex;
  justify-content: center;
}

