.hotels {
  background-color: var(--grey);
  width: 60%;
  border-radius: 20px;
  padding: 10px;
}

.hotels_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0 10px;
}

.mostpopulars {
  background-color: var(--grey);
  width: 30%;
  border-radius: 20px;
  padding: 10px;
}

.mostpopulars_content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 10px;
}

.activities {
  margin: 2em;

  min-width: 1000px;
  min-height: 400px;

  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .hotels {
    width: 100%;
  }
  .mostpopulars {
    order: -1;
    background-color: var(--grey);
    min-width: 100%;
    border-radius: 20px;
    padding: 10px;
  }

  .mostpopulars_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .activities {
    margin: 16px;
    flex-direction: column;
    min-width: 100px;
  }

  .activities img {
    width: 100%;
  }
}
