.input-field {
  white-space: nowrap;
  border: 0;
  border: solid 1px var(--grey);
  padding: 10px;
  font-size: 18px;
}

.input-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey);
  border-radius: 7px 0 0 7px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  padding-right: 16px;
  padding-left: 16px;
  font-size: 20px;
  padding: 16px
}

.search i {
  display: none;
}