.navbar {
  display: flex;
  flex-direction: row;
}

.navbar_burger {
  width: 150px;
}

.navbar_item {
  padding: 8px 12px;
}

.navbar_item:hover {
    color : var(--primary)
}

.navbar_end {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-top: 25px;
  margin-right: 32px;
  font-size: 16px;
}

.navbar_end a:hover {
  border-top: 2px solid var(--primary);
}


