.btn.is-primary {
  color: white;
  background-color: var(--primary);
}

.btn.is-primary:hover {
  color: white;
  background-color: #1571fa;
}

.btn.is-secondary {
  background-color: #deebff;
}

.btn.search {
  border: none;
  border-radius: 0 7px 7px 0;
  font-weight: 600;
  padding-right: 16px;
  padding-left: 16px;
  font-size: 16px;
}

.btn.filter {
  display: flex;
  border: solid 1px var(--grey);
  background-color: transparent;
  border-radius: 25px;

  align-items: center;
  justify-items: center;
  padding-right: 15px;

  margin-right: 15px;
  margin-left: 15px;
}

.btn.filter:hover {
  background-color: var(--secondary);
}
